<container class="marco">
    <table id="productsTable" class="table" action="/api/products" method="get">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio
                    <a href="/products?page={{page}}&sort={{sort}}"><button type="button"
                            class="btn btn-outline-primary btn-sm"> ordenar precio </button></a>
                </th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Código</th>
                <th scope="col">Stock</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {{#each docs}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.thumbnail}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>
                    <form action="/products/api/cart/{{this.cart}}/product/{{this.id}}" method="post"><button
                            class="btn btn-outline-primary" role="button" name="foo" id="adCart"
                            value="Agregar al Carrito"> Agregar al carrito </button></form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="botonera d-flex justify-content-between align-items-center">
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}" class="btn btn-primary me-3">Pagina previa</a>
        {{/if}}

        <h5 class="numeracion m-0">Pagina {{page}} de {{totalPages}}</h5>

        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}" class="btn btn-primary">Pagina siguiente</a>
        {{/if}}
    </div>
</container>